AddNewProject.css
.AddNewProject .form-label {
  margin: 0;
}

.AddNewProject .form-control,.quill-form {
  border-radius: 0;
  width: 90%;
  border-width: 1px;
  margin-bottom: .4rem;
  background-color: aliceblue;
}

.ql-editor{
  min-height: 80px;
}

.AddNewProject .form-control:focus {
  box-shadow: 1px 1px black;
}